@model BookManagements.ViewModels.IndexViewModel


<h4>Books available in <strong>@Model.CategoryName</strong> category</h4>

<div class="card-deck">
    @foreach (var book in Model.Books)
    {
       
        
        
        var photoPath = "~/images/" + (book.PhotoPath ?? "/noImage.png");

        <div class="card m-3" style="min-width: 18rem; max-width:30.5%">
            <div class="card-header text-center">
                <h4>@book.Title</h4>


            </div>
            <img class="card-img-top mx-auto d-block" src="@photoPath" style="height:180px; width:150px" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@book.Id">Edit</a> |
                <a asp-controller="Home" asp-action="Details" asp-route-id="@book.Id">Details</a> |
                <a asp-controller="Home" asp-action="Delete" asp-route-id="@book.Id">Delete</a>
            </div>
        </div>
    }
</div>






